@charset "UTF-8";

@import "reset.css";
@import "value.css";

/* Components */
@import "./nav/nav.css";
@import "./home/home.css";
@import "./skills/skills.css";
@import "./projects/projects.css";
@import "./about/about.css";
@import "./footer/footer.css";

/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: var(--font-size-xs);
  overflow-x: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
}

.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* padding: 50px 0; */
}

/* .section:nth-child(odd) {
  background-color: tan;
} */
