@charset "UTF-8";

/* css style 초기화 */
@import "reset.css";

@import "value.css";

/* Components */
@import "./footer/footer.css";
@import "./nav/nav.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: var(--font-size-xs);
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
}
